/*COLORES*/


/*
naranja  #ed6146;
morado   #56407f;
rosa     #b569af;
azul     #7fb3ee;
blanco   #ffffff;
negro    #000000;
*/


/*TIPOGRAFÍAS*/


/*
font-family: 'Encode Sans Expanded', sans-serif;
font-family: 'Baloo Tammudu 2', cursive;  TITULO
*/

@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@400;500;600;700;800&family=Share:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Encode Sans Expanded', sans-serif;
}


/*NAV*/

header,
footer {
    padding: 0 10% 0 10%;
}

header {
    background: linear-gradient(to bottom right, #56407f, #7fb3ee);
    color: #ffffff;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

h1 p {
transition: 1s;
}

h1 p:hover {
    color: #7fb3ee;
}

header h1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 100;
    font-size: 25px;
}

header h1 img {
    width: 80px;
    height: auto;
    margin-right: 20px;
}

h1 span {
    font-size: 34px;
    font-weight: 500;
}

h2 {
    text-align: center;
    font-family: 'Baloo Tammudu 2', cursive;
    font-weight:400;
    font-size: 45px;
}

#nav2 {
    font-size: 50px;
    font-weight: 100px;
    transition: 1s;
    display: none;
}

#nav2:hover {
    cursor: pointer;
    color: #7fb3ee;
}

header nav ul {
    display: flex;
    flex-direction: row;
    font-size: 17px;
}

header nav ul li {
    list-style: none;
    margin-left: 20px;
    border: 1px solid white;
    border-radius: 50px;
    transition: 1s;
    height: 50px;
    display: flex;
    flex-wrap: wrap;
}

header nav ul li:hover {
    background-color: white;
    border-color: #7fb3ee;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    width: 100%;
    height: 100%;
    transition: 1s;
    display: flex;
    align-items: center;
    padding: 20px;
    /*background-color: pink;*/
}

header nav ul li a:hover {
    color: #7fb3ee;
}

header nav ul li span {
    margin-right: 5px;
}

.principal {
    width: 100%;
    padding: 60px 10% 60px 10%;
}

.contenedor {
    padding: 20px 0 20px 0;
}
/*NOSOTROS*/
#nosotros section{
    display: grid;
    grid-template-columns: 45% 45%;
    column-gap: 10%;
}
#nosotros h2{
    color:     #ed6146;
}
#nosotros section img{
    width: 100%;
    height: auto;
}
#nosotros section div:nth-child(1){
    background: linear-gradient(to bottom right, #ed6146, #56407f);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color:  white;
    font-size: 20px;
    text-align: justify;
    padding: 30px;
    border-radius: 10px;
}

#nosotros p span{
    font-weight: 700;
}
/*SERVICIOS*/
#servicios{
    color: white;
    background: linear-gradient(to bottom right, #ed6146, #56407f);;
}

#servicios h3{
    margin-top: 20px;
    font-size: 17px;
    font-weight: 700;
    padding: 0 5px 0 5px;
 }
 #servicios p{
     font-size: 14px;
     padding: 0 5px 0 5px;
 }
#servicios section{
    display: grid;
}
#servicios section div{
    background-color: white;
    border-radius: 10px;
    color: #ed6146;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

#servicios section div img{
    width: 100%;
    height: auto;
    border-radius: 5px 5px 0 0;
}
#servicios section div button{
    background-color: #ed6146;
    color: white;
    border-radius: 10px;
    padding: 5px;
    margin-bottom: 20px;
    transition: 1s;
}
#servicios section div button:hover{
   background-color: #56407f;
}


/*MUESTRAS*/



#muestras h2{
    color:  #7fb3ee;
}
.muestra-item {
    position: relative;
    padding: 0;
}

.muestra-item p {
    position: absolute;
    font-weight: 700;
    bottom: 0;
    width: 100%;
    padding: 5px;
    background-color: rgba(127, 179, 238,0.5);
    color: white;
    margin-bottom: 0;
    text-align: center;
}

.muestra-item img {
    width: 100%;
    margin-right: 0;
}
/*CONTACTO*/
#contacto {
    color: #56407f;
    background: linear-gradient(to bottom right, #ed6146, #56407f);
}

#contacto .contenedor {
    display: grid;
}

#contacto form {
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    width: 100%;
}
#contacto form div:nth-child(4) {
    text-align: center;
}
#contacto form button{
    background-color: #56407f;
    color: white;
    padding: 5px 20px 5px 20px;
    border-radius: 10px;
    border: none;
}




#datosoficina{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: white;
    height: auto;
    justify-content: space-between;
}
#datosoficina div{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
#datosoficina div div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
}
#datosoficina div div span{
    width: 10%;
    font-size: 15px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
#datosoficina div div p{
    width: 90%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
   align-items: center;
   font-size: 15px;
   padding: 5px;
   text-align: justify;
}

#datosoficina aside{
    margin-bottom: 20px;
}
#datosoficina aside span{
    font-size: 35px;
    width: 25%;
    transition: 1s;
}
#datosoficina aside span:hover{
  color: #56407f;
  cursor: pointer;
}



/*FOOTER*/

footer {
    height: 45px;
    background: linear-gradient(to bottom right, #7fb3ee, #56407f);
    color: #ffffff;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'Baloo Tammudu 2', cursive; 
    justify-content: center;
    align-items: center;
    padding-top: 9px;
}

footer p a {
    text-decoration: none;
    color: white;
}
textarea{
    width: 100%;
    border: 1px solid #CED4DA;
    border-radius: 5px;
    padding: 7px 10px 7px 10px;
}



/* pantallas grandes */

@media (min-width: 1500px) {
    #nosotros p{
        font-size: 24px;
        padding: 30px;
    }

}

@media (max-width: 1500px) {
    header nav ul {
        font-size: 13px;
    }
    header nav ul li {
        margin-left: 10px;
        height: 40px;
    }
    header nav ul li a {
        padding: 10px;
    }
}


/* escritorio normales */

@media (max-width: 992px) {
    header {
        height: 70px;
    }
    header h1 {
        font-size: 20px;
    }
    header h1 span {
        font-size: 27px;
    }
    header h1 img {
        width: 55px;
    }
    #nav2 {
        display: block;
        font-size: 40px;
        margin-bottom: 5px;
    }
    #nav1 {
        display: none;
    }
    #nosotros .contenedor div:nth-child(2){
        padding: 5% 10% 0 10%;
    }
    #nosotros section{
        grid-template-columns: 1fr;
    }
 
}




    /*grid*/

    
    /* mobile first */
@media (max-width: 574px) {
    #datosoficina{
        margin-top: 60px;
        }
    .muestra-item{
        margin-bottom: 20px;
        }

    }

@media (min-width: 575px) {
    #servicios section{
        grid-template-columns: 45% 45%;
        column-gap: 10%;
        }
    #servicios section div{
        margin-bottom: 20px;
        }
    #contacto section{
        grid-template-columns: 45% 45%;
        column-gap: 10%;}
    }

@media (min-width: 768px) {
    #servicios section{
        grid-template-columns: 30% 30% 30%;
        column-gap: 5%;
        }
    #muestras section{
        grid-template-columns: 50% 50%; 
    }

}
@media (min-width: 992px) {

    #muestras section{
        grid-template-columns: 33.33% 33.33%; 
    }
    header{
        padding-top: 9px;
    }
}